django==3.1.6
djangorestframework~=3.12.2
graphene~=2.1.8
pandas~=1.1.5
channels~=3.0.3
bokeh~=2.2.3
celery~=4.4.7
django-crispy-forms~=1.10.0
numpy~=1.19.5
prefect~=0.13.19
plotly~=4.7.1
dash~=1.10.0
panel~=0.10.3
param~=1.10.0
ipyaggrid~=0.2.1
setuptools~=51.1.2
django-channels-graphql-ws
graphene-django
django-extensions
django-tailwind
django-plotly-dash==1.3.1
django-sphinxdoc
django-unicorn
django-filter
ipywidgets-bokeh
django-rest-framework-braces
gunicorn
django-heroku