{% extends 'django_formset_vuejs/home.html' %}

{% block title %}
<h1>Django formsets with Vue.js</h1>
{% endblock title %}
{% block content %}




{% endblock content %}

{% block scripts %}

<script type="text/javascript">
    var authors = {{ authors| safe}}
    console.log(authors)
</script>



<!-- <script>
    Vue.component('bookform', {
         delimiters: ['[[', ']]'],
         data: function () {return {
             authors: authors,
             items: [
     { title: 'Home', icon: 'mdi-home-city' },
     { title: 'My Account', icon: 'mdi-account' },
     { title: 'Users', icon: 'mdi-account-group-outline' },
   ]
         }},
         methods: {
             addNewBook: function (event) {
                 event.preventDefault();
                 const default_new_book = {'title': '',
                                         'isbn': ''};
                 this.$data.authors.author_set[0].book_set.push(default_new_book);
             },
             removeBook: function (event, author_index, book_index) {
                 event.preventDefault();
                 Vue.delete(this.$data.authors.author_set[author_index].book_set, book_index);
             },
         }
     });

</script>  -->

<script>
    Vue.component('bitcoin-price', {
        delimiters: ['[[', ']]'],
        data: function () {
            return {
                info: "",
            }
        },
        mounted() {
            axios
                .get('https://api.coindesk.com/v1/bpi/currentprice.json')
                .then(response => (this.info = response.data.bpi))
        },
        template: `<div> 
                    <h1>Bitcoin Price Index</h1>
                    <v-card
                        v-for="currency in info"
                        class="currency"
                    >
                        [[ currency.description ]]:
                        <span class="lighten">
                        <span v-html="currency.symbol"></span>[[ currency.rate_float ]]
                        </span>
                    
                    </v-card>
                </div>`
    })
</script>
<script>
    Vue.component('button-counter', {
        data: function () {
            return {
                count: 0
            }
        },
        template: '<v-slider>min=10 max=14 </v-slider>'
    })

</script>

{{block.super}}
{% endblock scripts %}