{% extends 'django_formset_vuejs/home.html' %}

{% block title %}
<h1>Django formsets with Vue.js</h1>
{% endblock title %}
{% block content %}
<v-card>
    <v-container>
        <v-row align="center" justify="center">
            <v-col>
                <v-card-text>
                    <v-text-field label="Name">
                    </v-text-field>
            </v-col>

            <v-col>
                <v-menu ref="menu" v-model="menu" :close-on-content-click="false" :return-value.sync="startdatum"
                    transition="scale-transition" offset-y min-width="auto">
                    <template v-slot:activator="{ on, attrs }">
                        <v-text-field v-model="startdatum" label="Startdatum" prepend-icon="mdi-calendar" readonly
                            v-bind="attrs" v-on="on"></v-text-field>
                    </template>
                    <v-date-picker v-model="startdatum" no-title scrollable>
                        <v-spacer></v-spacer>
                        <v-btn text color="primary" @click="menu = false">
                            Cancel
                        </v-btn>
                        <v-btn text color="primary" @click="$refs.menu.save(startdatum)">
                            OK
                        </v-btn>
                    </v-date-picker>
                </v-menu>
            </v-col>

            <v-col>
                <v-menu ref="menu2" v-model="menu2" :close-on-content-click="false" :return-value.sync="enddatum"
                    transition="scale-transition" offset-y min-width="auto">

                    <template v-slot:activator="{ on, attrs }">
                        <v-text-field v-model="enddatum" label="Endatum" prepend-icon="mdi-calendar" readonly v-bind="attrs"
                            v-on="on"></v-text-field>
                    </template>

                    <v-date-picker v-model="enddatum" no-title scrollable>
                        <v-spacer></v-spacer>
                        <v-btn text color="primary" @click="menu2 = false">
                            Cancel
                        </v-btn>
                        <v-btn text color="primary" @click="$refs.menu2.save(enddatum)">
                            OK
                        </v-btn>
                    </v-date-picker>

                </v-menu>
            </v-col>
        </v-row>
    </v-container>

    <v-row class="mt-6">
        <v-col>
            
                <v-tabs vertical>
                  <v-tab>
                    <v-icon left>
                      mdi-account
                    </v-icon>
                    Option 1
                  </v-tab>
                  <v-tab>
                    <v-icon left>
                      mdi-lock
                    </v-icon>
                    Option 2
                  </v-tab>
                  <v-tab>
                    <v-icon left>
                      mdi-access-point
                    </v-icon>
                    Option 3
                  </v-tab>
                  <v-btn class="ml-1">
                    <v-icon left>
                      mdi-plus
                    </v-icon>
                    New backtest
                  </v-btn>
            
                  <v-tab-item>
                    <v-card flat>
                      <v-card-text>
                        C
                      </v-card-text>
                    </v-card>
                  </v-tab-item>
                  <v-tab-item>
                    <v-card flat>
                      <v-card-text>
                          A
                      </v-card-text>
                    </v-card>
                  </v-tab-item>
                  <v-tab-item>
                    <v-card flat>
                      <v-card-text>
                          B
                      </v-card-text>
                    </v-card>
                  </v-tab-item>
                </v-tabs>
        </v-col>
    </v-row>


    </v-card-text>

</v-card>



{% endblock content %}

{% block scripts %}
<script type="text/javascript">
    var authors = 1
    console.log(authors)
</script>




<!-- <script>
    Vue.component('bookform', {
         delimiters: ['[[', ']]'],
         data: function () {return {
             authors: authors,
             items: [
     { title: 'Home', icon: 'mdi-home-city' },
     { title: 'My Account', icon: 'mdi-account' },
     { title: 'Users', icon: 'mdi-account-group-outline' },
   ]
         }},
         methods: {
             addNewBook: function (event) {
                 event.preventDefault();
                 const default_new_book = {'title': '',
                                         'isbn': ''};
                 this.$data.authors.author_set[0].book_set.push(default_new_book);
             },
             removeBook: function (event, author_index, book_index) {
                 event.preventDefault();
                 Vue.delete(this.$data.authors.author_set[author_index].book_set, book_index);
             },
         }
     });

</script>  -->

<script>
    Vue.component('bitcoin-price', {
        delimiters: ['[[', ']]'],
        data: function () {
            return {
                info: "",
            }
        },
        mounted() {
            axios
                .get('https://api.coindesk.com/v1/bpi/currentprice.json')
                .then(response => (this.info = response.data.bpi))
        },
        template: `<div> 
                    <h1>Bitcoin Price Index</h1>
                    <v-card
                        v-for="currency in info"
                        class="currency"
                    >
                        [[ currency.description ]]:
                        <span class="lighten">
                        <span v-html="currency.symbol"></span>[[ currency.rate_float ]]
                        </span>
                    
                    </v-card>
                </div>`
    })
</script>
<script>
    Vue.component('button-counter', {
        data: function () {
            return {
                count: 0
            }
        },
        template: '<v-slider>min=10 max=14 </v-slider>'
    })

</script>



{{block.super}}
{% endblock scripts %}