{% load static %}
{% load crispy_forms_tags %}


<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <style type="text/css">
        .spacer{
            margin-top:25px;
        }


    </style>
    {% block custom_css %}{% endblock %}
    <title>Django Library App</title>
</head>
<body>
<div class="container">
    <div class="row spacer"></div>
    <div class="row offset-2">
        <div class="col-12">

            <form id="myform" method="post" action="{% url 'forms' %}" class="js_form">
                {% csrf_token %}
                {{ form }}

                {{ siteset.management_form }}
                {% for sitee in siteset %}
                <div class="row spacer form-row">
                    <div class="col-2">
                        <label>{{sitee.page.label}}</label>
                    </div>
                    <div class="col-4">
                        <div class="input-group">
                            {{sitee.page}}
                            <div class="input-group-append">
                                <button class="btn btn-success add-form-row">+</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="row spacer">
                    <div class="col-4 offset-2">
                        <button type="submit" class="btn btn-block btn-primary">Create</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>

<script src="{% static 'scripts/dynamic_form.js' %}"></script>
</body>

</html>