{% load static %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tailwind CSS Skeleton</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">

  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body class="bg-white font-serif leading-normal tracking-normal">
  <div id="app">

  </div>

  {% render_bundle 'chunk-vendors' %}
  {% render_bundle 'helloworld' %}
  {% render_bundle 'vue_app_01' %}
</body>

</html>